*{
    margin: 0;
}

.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #36416A;;

}


.login-title{
    position: relative;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 50vw;
    color: #FFFFFF;
}

.login-title h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 78px;
}

.login-title p{
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    padding-left: 1%;
    /* identical to box height */
}




.login-details{
    width: 771px;
    height: 400px;
    left: 363px;
    top: 308px;
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.login-details{
    display: flex;
    flex-direction: column;
}

.login-email,.login-password{
    display: flex;
    align-items: center;
}

.login-email{
    margin-top: 10%;
    margin-left: 10%;
}

.login-password{
    margin-top: 8%;
    margin-left: 10%;
}


.login-email-line,.login-password-line{
    position: absolute;
    width: 500px;
    height: 0px;
    border: 1px solid #AAAAAA;
    margin-top: 3%;
    margin-left: 4%;
}



.Account-signup{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
}

.Account-signup p{
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height */
    color: #737373;
}

.Account-signup h1{
    font-weight: 500;
    font-size: 17px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #36416A;
    margin-left: 2%;
}

.login-button-division{
    display: flex;
    width: 150px;
    height: 44.19px;
    left: 900px;
    top: 627px;
    background: #36416A;
    border-radius: 27.907px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.login-button{
    background: none;
    border: none;
    cursor: pointer;
}

.login-button-division p{
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    color: #FFFFFF;

}

.login-division{
    margin-left: 63%;
}

.login-email-input,.login-password-input{
    width: 500px;
    margin-left: 5%;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #737373;
    border: none;
}

.signup-button{
    border: none;
    background: none;
    cursor: pointer;
}
